# Mini Project: Deep Learning with Keras

In this mini-project we'll be building a deep learning classifier using Keras to predict income from the popular [Adult Income dataset](http://www.cs.toronto.edu/~delve/data/adult/adultDetail.html).

Predicting income from demographic and socio-economic information is an important task with real-world applications, such as financial planning, market research, and social policy analysis. The Adult dataset, sometimes referred to as the "Census Income" dataset, contains a vast amount of anonymized data on individuals, including features such as age, education, marital status, occupation, and more. Our objective is to leverage this data to train a deep learning model that can effectively predict whether an individual's income exceeds $50,000 annually or not.

Throughout this Colab, we will walk you through the entire process of building a deep learning classifier using Keras, a high-level neural network API that runs on top of TensorFlow. Keras is known for its user-friendly and intuitive interface, making it an excellent choice for both beginners and experienced deep learning practitioners.

Here's a brief outline of what we will cover in this mini-project:

1. **Data Preprocessing:** We will start by loading and exploring the Adult dataset.

2. **Building the Deep Learning Model:** We will construct a neural network using Keras, where we'll dive into understanding the key components of a neural network, including layers, activation functions, and optimization algorithms.

3. **Model Training:** With our model architecture in place, we will split the data into training and validation sets and train the neural network on the training data. We will monitor the training process to prevent overfitting and enhance generalization.

4. **Model Evaluation:** After training, we'll assess the performance of our model on the test dataset.

By the end of this tutorial, you will not only have a functional deep learning classifier for income prediction but also gain valuable insights into how to leverage the power of neural networks for solving real-world classification tasks.

In [20]:
!pip install scikeras

Requirement already satisfied: scikeras in /usr/local/lib/python3.10/dist-packages (0.13.0)
Requirement already satisfied: keras>=3.2.0 in /usr/local/lib/python3.10/dist-packages (from scikeras) (3.4.1)
Requirement already satisfied: scikit-learn>=1.4.2 in /usr/local/lib/python3.10/dist-packages (from scikeras) (1.5.1)
Requirement already satisfied: absl-py in /usr/local/lib/python3.10/dist-packages (from keras>=3.2.0->scikeras) (1.4.0)
Requirement already satisfied: numpy in /usr/local/lib/python3.10/dist-packages (from keras>=3.2.0->scikeras) (1.26.4)
Requirement already satisfied: rich in /usr/local/lib/python3.10/dist-packages (from keras>=3.2.0->scikeras) (13.7.1)
Requirement already satisfied: namex in /usr/local/lib/python3.10/dist-packages (from keras>=3.2.0->scikeras) (0.0.8)
Requirement already satisfied: h5py in /usr/local/lib/python3.10/dist-packages (from keras>=3.2.0->scikeras) (3.11.0)
Requirement already satisfied: optree in /usr/local/lib/python3.10/dist-packages (from keras>=3.2.0->scikeras) (0.12.1)
Requirement already satisfied: ml-dtypes in /usr/local/lib/python3.10/dist-packages (from keras>=3.2.0->scikeras) (0.4.0)
Requirement already satisfied: packaging in /usr/local/lib/python3.10/dist-packages (from keras>=3.2.0->scikeras) (24.1)
Requirement already satisfied: scipy>=1.6.0 in /usr/local/lib/python3.10/dist-packages (from scikit-learn>=1.4.2->scikeras) (1.13.1)
Requirement already satisfied: joblib>=1.2.0 in /usr/local/lib/python3.10/dist-packages (from scikit-learn>=1.4.2->scikeras) (1.4.2)
Requirement already satisfied: threadpoolctl>=3.1.0 in /usr/local/lib/python3.10/dist-packages (from scikit-learn>=1.4.2->scikeras) (3.5.0)
Requirement already satisfied: typing-extensions>=4.5.0 in /usr/local/lib/python3.10/dist-packages (from optree->keras>=3.2.0->scikeras) (4.12.2)
Requirement already satisfied: markdown-it-py>=2.2.0 in /usr/local/lib/python3.10/dist-packages (from rich->keras>=3.2.0->scikeras) (3.0.0)
Requirement already satisfied: pygments<3.0.0,>=2.13.0 in /usr/local/lib/python3.10/dist-packages (from rich->keras>=3.2.0->scikeras) (2.16.1)
Requirement already satisfied: mdurl~=0.1 in /usr/local/lib/python3.10/dist-packages (from markdown-it-py>=2.2.0->rich->keras>=3.2.0->scikeras) (0.1.2)

In [21]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import OneHotEncoder, LabelEncoder
from sklearn.preprocessing import MinMaxScaler
from sklearn.compose import ColumnTransformer
from sklearn.model_selection import train_test_split
from sklearn.metrics import roc_auc_score
from sklearn.metrics import RocCurveDisplay
from keras.models import Sequential
from keras.layers import Dense
from scikeras.wrappers import KerasClassifier
from sklearn.pipeline import Pipeline

You can download the Adult data from the link [here](https://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.data).

Here are your tasks:

  1. Load the Adult data into a Pandas Dataframe.
  2. Ensure the dataset has properly named columns. If the columns are not read in, assign them by referencing the dataset documentation.
  3. Display the first five rows of the dataset.

In [22]:
DATA_PATH = 'https://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.data'

# Download the dataset and load it into a pandas DataFrame
adult_data = pd.read_csv(DATA_PATH, header=None)

In [23]:
# Display the first few rows of the DataFrame
adult_data.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

If you're not already familiar with the Adult dataset, it's important to do some exploratory data analysis.

Here are your tasks:

  1. Do exploratory data analysis to give you some better intuition for the dataset. This is a bit open-ended. How many rows/columns are there? How are NULL values represented? What's the percentage of positive cases in the dataset?

  2. Drop all rows with NULL values.

  3. Use Scikit-Learn's [LabelEncoder](https://scikit-learn.org/stable/modules/generated/sklearn.preprocessing.LabelEncoder.html) to convert the `income` column with a data type string to a binary variable.

In [24]:
# Do some exploratory analysis. How many rows/columns are there? How are NULL
# values represented? What's the percentrage of positive cases in the dataset?
num_rows, num_columns = adult_data.shape
print(f"Number of rows: {num_rows}")
print(f"Number of columns: {num_columns}")
#Null values are represented with "?"
null_values = adult_data.isin([' ?', 'NaN', 'nan', '']).sum()
print("Null values:")
print(null_values)

Number of rows: 32561
Number of columns: 15
Null values:
0        0
1     1836
2        0
3        0
4        0
5        0
6     1843
7        0
8        0
9        0
10       0
11       0
12       0
13     583
14       0
dtype: int64

In [32]:
# Find all NULL values and drop them
adult_data_cleaned = adult_data.dropna()
print(adult_data_cleaned.head())

   age          workclass  fnlwgt   education  education_num  \
0   39          State-gov   77516   Bachelors             13
1   50   Self-emp-not-inc   83311   Bachelors             13
2   38            Private  215646     HS-grad              9
3   53            Private  234721        11th              7
4   28            Private  338409   Bachelors             13

        marital_status          occupation    relationship    race      sex  \
0        Never-married        Adm-clerical   Not-in-family   White     Male
1   Married-civ-spouse     Exec-managerial         Husband   White     Male
2             Divorced   Handlers-cleaners   Not-in-family   White     Male
3   Married-civ-spouse   Handlers-cleaners         Husband   Black     Male
4   Married-civ-spouse      Prof-specialty            Wife   Black   Female

   capital_gain  capital_loss  hours_per_week  native_country  income
0          2174             0              40   United-States       0
1             0             0              13   United-States       0
2             0             0              40   United-States       0
3             0             0              40   United-States       0
4             0             0              40            Cuba       0

In [35]:
# Use Scikit-Learn's LabelEncoder to convert the income column with a data type
# string to a binary variable.
adult_data.columns = [
    'age', 'workclass', 'fnlwgt', 'education', 'education_num',
    'marital_status', 'occupation', 'relationship', 'race', 'sex',
    'capital_gain', 'capital_loss', 'hours_per_week', 'native_country', 'income'
]
print(adult_data.columns)
#Convert Income columns to an int
label_encoder = LabelEncoder()
adult_data_cleaned['income'] = label_encoder.fit_transform(adult_data_cleaned['income'])
#adult_data['income'] = adult_data['income'].map({' <=50K': 0, ' >50K': 1})
print(adult_data_cleaned.head(100))
df_info = adult_data_cleaned.info()
#print(adult_data[adult_data['income'] == 1])

Index(['age', 'workclass', 'fnlwgt', 'education', 'education_num',
       'marital_status', 'occupation', 'relationship', 'race', 'sex',
       'capital_gain', 'capital_loss', 'hours_per_week', 'native_country',
       'income'],
      dtype='object')
    age          workclass  fnlwgt      education  education_num  \
0    39          State-gov   77516      Bachelors             13
1    50   Self-emp-not-inc   83311      Bachelors             13
2    38            Private  215646        HS-grad              9
3    53            Private  234721           11th              7
4    28            Private  338409      Bachelors             13
..  ...                ...     ...            ...            ...
95   29          Local-gov  115585   Some-college             10
96   48   Self-emp-not-inc  191277      Doctorate             16
97   37            Private  202683   Some-college             10
98   48            Private  171095     Assoc-acdm             12
99   32        Federal-gov  249409        HS-grad              9

         marital_status          occupation    relationship    race      sex  \
0         Never-married        Adm-clerical   Not-in-family   White     Male
1    Married-civ-spouse     Exec-managerial         Husband   White     Male
2              Divorced   Handlers-cleaners   Not-in-family   White     Male
3    Married-civ-spouse   Handlers-cleaners         Husband   Black     Male
4    Married-civ-spouse      Prof-specialty            Wife   Black   Female
..                  ...                 ...             ...     ...      ...
95        Never-married   Handlers-cleaners   Not-in-family   White     Male
96   Married-civ-spouse      Prof-specialty         Husband   White     Male
97   Married-civ-spouse               Sales         Husband   White     Male
98             Divorced     Exec-managerial       Unmarried   White   Female
99        Never-married       Other-service       Own-child   Black     Male

    capital_gain  capital_loss  hours_per_week  native_country  income
0           2174             0              40   United-States       0
1              0             0              13   United-States       0
2              0             0              40   United-States       0
3              0             0              40   United-States       0
4              0             0              40            Cuba       0
..           ...           ...             ...             ...     ...
95             0             0              50   United-States       0
96             0          1902              60   United-States       1
97             0             0              48   United-States       1
98             0             0              40         England       0
99             0             0              40   United-States       0

[100 rows x 15 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             32561 non-null  int64
 1   workclass       32561 non-null  object
 2   fnlwgt          32561 non-null  int64
 3   education       32561 non-null  object
 4   education_num   32561 non-null  int64
 5   marital_status  32561 non-null  object
 6   occupation      32561 non-null  object
 7   relationship    32561 non-null  object
 8   race            32561 non-null  object
 9   sex             32561 non-null  object
 10  capital_gain    32561 non-null  int64
 11  capital_loss    32561 non-null  int64
 12  hours_per_week  32561 non-null  int64
 13  native_country  32561 non-null  object
 14  income          32561 non-null  int64
dtypes: int64(7), object(8)
memory usage: 3.7+ MB

1. Split the data into training and test sets. Remember not to include the label you're trying to predict, `income`, as a column in your training data.

In [38]:
# Split dataset into training and test sets
# Split dataset into training and test sets
#split the x and y
x = adult_data_cleaned.drop('income', axis=1)
y = adult_data_cleaned['income']

x_train, x_test, y_train, y_test = train_test_split(x , y, test_size=0.2, random_state = 42)
print(x_train, x_test, y_train, y_test)

       age          workclass  fnlwgt      education  education_num  \
5514    33          Local-gov  198183      Bachelors             13
19777   36            Private   86459      Assoc-voc             11
10781   58   Self-emp-not-inc  203039            9th              5
32240   21            Private  180190      Assoc-voc             11
9876    27            Private  279872   Some-college             10
...    ...                ...     ...            ...            ...
29802   47            Private  359461      Bachelors             13
5390    31            Private  147215           12th              8
860     18            Private  216284           11th              7
15795   50   Self-emp-not-inc   54261        HS-grad              9
23654   34       Self-emp-inc  127651      Bachelors             13

            marital_status        occupation    relationship    race      sex  \
5514         Never-married    Prof-specialty   Not-in-family   White   Female
19777   Married-civ-spouse   Exec-managerial         Husband   White     Male
10781            Separated      Craft-repair   Not-in-family   White     Male
32240   Married-civ-spouse   Farming-fishing         Husband   White     Male
9876              Divorced     Other-service   Not-in-family   White     Male
...                    ...               ...             ...     ...      ...
29802   Married-civ-spouse      Craft-repair         Husband   White     Male
5390              Divorced     Other-service       Unmarried   White   Female
860          Never-married      Adm-clerical       Own-child   White   Female
15795   Married-civ-spouse   Farming-fishing         Husband   White     Male
23654             Divorced   Farming-fishing   Not-in-family   White     Male

       capital_gain  capital_loss  hours_per_week  native_country
5514              0             0              50   United-States
19777             0          1887              50   United-States
10781             0             0              40   United-States
32240             0             0              46   United-States
9876              0             0              40   United-States
...             ...           ...             ...             ...
29802             0             0              40   United-States
5390              0             0              21   United-States
860               0             0              20   United-States
15795             0             0              84   United-States
23654             0             0              60   United-States

[26048 rows x 14 columns]        age          workclass  fnlwgt      education  education_num  \
14160   27            Private  160178   Some-college             10
27048   45          State-gov   50567        HS-grad              9
28868   29            Private  185908      Bachelors             13
5667    30            Private  190040      Bachelors             13
7827    29   Self-emp-not-inc  189346   Some-college             10
...    ...                ...     ...            ...            ...
1338    71            Private  269708      Bachelors             13
24534   55          Local-gov  253062   Some-college             10
18080   47            Private  354148    Prof-school             15
10354   27            Private   43652      Bachelors             13
24639   18            Private   25837        HS-grad              9

            marital_status          occupation    relationship    race  \
14160             Divorced        Adm-clerical   Not-in-family   White
27048   Married-civ-spouse     Exec-managerial            Wife   White
28868   Married-civ-spouse     Exec-managerial         Husband   Black
5667         Never-married   Machine-op-inspct   Not-in-family   White
7827              Divorced        Craft-repair   Not-in-family   White
...                    ...                 ...             ...     ...
1338              Divorced        Tech-support       Own-child   White
24534   Married-civ-spouse      Prof-specialty         Husband   White
18080   Married-civ-spouse      Prof-specialty         Husband   White
10354        Never-married        Adm-clerical   Not-in-family   White
24639        Never-married       Other-service   Not-in-family   White

           sex  capital_gain  capital_loss  hours_per_week  native_country
14160   Female             0             0              38   United-States
27048   Female             0             0              40   United-States
28868     Male             0             0              55   United-States
5667    Female             0             0              40   United-States
7827      Male          2202             0              50   United-States
...        ...           ...           ...             ...             ...
1338    Female          2329             0              16   United-States
24534     Male             0             0              40   United-States
18080     Male         99999             0              48   United-States
10354   Female             0             0              40   United-States
24639     Male             0             0              25   United-States

[6513 rows x 14 columns] 5514     1
19777    1
10781    0
32240    0
9876     0
        ..
29802    0
5390     0
860      0
15795    0
23654    0
Name: income, Length: 26048, dtype: int64 14160    0
27048    0
28868    1
5667     0
7827     0
        ..
1338     0
24534    1
18080    1
10354    0
24639    0
Name: income, Length: 6513, dtype: int64

In machine learning, the Receiver Operating Characteristic (ROC) curve and the Area Under the Curve (AUC) metric are commonly used to evaluate the performance of binary classification models. These are valuable tools for understanding how well a model can distinguish between the positive and negative classes in a classification problem.

Let's break down each concept:

1. ROC Curve:
The ROC curve is a graphical representation of a binary classifier's performance as the discrimination threshold is varied. It is created by plotting the True Positive Rate (TPR) against the False Positive Rate (FPR) at different threshold values. Here's how these rates are calculated:

- True Positive Rate (TPR), also called Sensitivity or Recall, measures the proportion of actual positive instances that are correctly identified by the model:
   TPR = True Positives / (True Positives + False Negatives)

- False Positive Rate (FPR) measures the proportion of actual negative instances that are incorrectly classified as positive by the model:
   FPR = False Positives / (False Positives + True Negatives)

The ROC curve is useful because it shows how well a classifier can trade off between sensitivity and specificity across different threshold values. The ideal ROC curve hugs the top-left corner, indicating a high TPR and low FPR, meaning the classifier is excellent at distinguishing between the two classes.

2. AUC (Area Under the Curve):
The AUC is a scalar metric derived from the ROC curve. It represents the area under the ROC curve, hence its name. The AUC ranges from 0 to 1, where 0 indicates a very poor classifier (always predicting the opposite class) and 1 signifies a perfect classifier (making all correct predictions).

The AUC metric is beneficial because it provides a single value to summarize the classifier's overall performance across all possible threshold values. It is particularly useful when dealing with imbalanced datasets, where one class significantly outnumbers the other. In such cases, accuracy alone might not be a reliable evaluation metric, and AUC can provide a more robust performance measure.

A quick rule of thumb for interpreting AUC values:
- AUC  0.5: The model performs no better than random guessing.
- 0.5 < AUC < 0.7: The model has poor to fair performance.
- 0.7 < AUC < 0.9: The model has good to excellent performance.
- AUC  1: The model is close to or has a perfect performance.

Here are your tasks:

  1. Use Scikit-Learn's [roc_auc_score](https://scikit-learn.org/stable/modules/generated/sklearn.metrics.roc_auc_score.html) to calculate the AUC score for a method that always predicts the majority class.

In [ ]:
# Use Scikit-Learn's roc_auc_score to calculate the AUC score for a method that
# always predicts the majority class.

Now, let's do a little feature engineering.

1. Use Scikit-Learn's [ColumnTransformer](https://scikit-learn.org/stable/modules/generated/sklearn.compose.ColumnTransformer.html) to apply One Hot Encoding to the categorical variables in `workclass`, `education`, `marital-status`, `occupation`, `relationship`, 'race', `sex`, and `native-country`. Also, apply [MinMaxScaler](https://scikit-learn.org/stable/modules/generated/sklearn.preprocessing.MinMaxScaler.html) to the remaining continuous features. How many columns will the dataframe have after these columns transformations are applied?

In [ ]:
# Use Scikit-Learn's ColumnTransformer to apply One Hot Encoding to the
# categorical variables in workclass, education, marital-status, occupation,
# relationship, 'race', sex, and native-country. #Also, apply MinMaxScaler to
# the remaining continuous features.

In [ ]:
# How many columns will the dataframe have after these columns transformations are applied?

Keras is an open-source deep learning library written in Python. It was developed to provide a user-friendly, high-level interface for building and training neural networks. The library was created by Franois Chollet and was first released in March 2015 as part of the Deeplearning4j project. Later, it became part of the TensorFlow ecosystem and is now the official high-level API for TensorFlow.

Keras is designed to be modular, user-friendly, and easy to extend. It allows researchers and developers to quickly prototype and experiment with various deep learning models. One of the primary goals of Keras is to enable fast experimentation, making it simple to build and iterate on different architectures.

Key features of Keras include:

1. User-friendly API: Keras provides a simple and intuitive interface for defining and training deep learning models. Its design philosophy focuses on ease of use and clarity of code.

2. Modularity: Models in Keras are built as a sequence of layers, and users can easily stack, merge, or create complex architectures using a wide range of predefined layers.

3. Extensibility: Keras allows users to define custom layers, loss functions, and metrics. This flexibility enables researchers to experiment with new ideas and algorithms seamlessly.

4. Backends: Initially, Keras supported multiple backends, including TensorFlow, Theano, and CNTK. However, as of TensorFlow version 2.0, TensorFlow has become the primary backend for Keras.

5. Multi-GPU and distributed training: Keras supports training models on multiple GPUs and in distributed computing environments, making it suitable for large-scale experiments.

6. Pre-trained models: Keras includes a collection of pre-trained models for common tasks, such as image classification (e.g., VGG, ResNet, MobileNet) and natural language processing (e.g., Word2Vec, GloVe).

The integration of Keras into TensorFlow as its official high-level API has solidified its position as one of the most popular deep learning libraries in the machine learning community. Its ease of use and versatility have contributed to its widespread adoption in both academia and industry for a wide range of deep learning tasks.

Here are your tasks:

1. Create your own model in Keras to predict income in the Adult training data. Remember, it's always better to start simple and add complexity to the model if necessary. What's a good loss function to use?

2. Keras can be integrated with Scitkit-Learn using a wrapper. Use the [KerasClassifier wrapper](https://adriangb.com/scikeras/stable/generated/scikeras.wrappers.KerasClassifier.html) to integrate your Keras model with the ColumnTransformer from previous steps using a [Pipeline](https://scikit-learn.org/stable/modules/generated/sklearn.pipeline.Pipeline.html) object.

3. Fit your model.

4. Calculate the AUC score of your model on the test data. Does the model predict better than random?

5. Generate an ROC curve for your model using [RocCurveDisplay](https://scikit-learn.org/stable/modules/generated/sklearn.metrics.RocCurveDisplay.html). What would the curve look like if all your predictions were randomly generated? What would the curve look like if it you had a perfect model?

In [ ]:
# Define the Keras model

In [ ]:
# Create a Keras classifier

In [ ]:
# Create the scikit-learn pipeline

In [ ]:
# Fit the pipeline on the training data

In [ ]:
# Calculate the AUC score of your model on the test data.
# Does the model predict better than random?

In [ ]:
# Generate an ROC curve for your model.